@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #6D7B93;
}

h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
    color: #1F3E72;
    /* #EEF3FF */
}

h2 {
    font-size: 30px;
}
/* header Start*/

header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: sticky;
    inset: 0;
    background-color: rgba(255, 255, 255,80%);
    backdrop-filter: blur(2px);
}
header .header-position{
    display: flex;
    position: absolute;
}
header .logo-header{
    width: 60%;
}
header .logo-header h1{
    margin-left: 20px;
}
header .elements-header{
    width: 40%;
}
header .elements-header ul li{
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
}
.button-info{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background: #1F3E72;
    border-radius: 5px;
    color: white;
}

footer {
    background-color: #EEF3FF;
}

/* Header End */

.first-part{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.first-part .first-part-left{
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
}
.first-part .first-part-left h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.first-part .first-part-left .schedule-vaccine{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #EEF3FF;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px rgba(1, 71, 101, 0.2);

}
.first-part .first-part-right{
    width: 50%;
}
.first-part .first-part-right img{
    width: 100%;
}
.second-part{

}
.second-part .vaccines-logos{
    display: flex;
    width: 100%;
}
.second-part .vaccines-logos .astra,
.second-part .vaccines-logos .jj,
.second-part .vaccines-logos .moderna,
.second-part .vaccines-logos .pfizer{
    padding: 40px;
    width: 25%;
    filter: grayscale(100%) contrast(5%) brightness(170%);
}
.second-part h2,
.second-part p{
    margin: 10px;
}
.vaccines-advantages{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.advantage-1,
.advantage-2,
.advantage-3,
.advantage-4{
    margin: 20px;
    margin-top: 50px;
    padding: 25px;
    width: 22%;
    height: 200px;
    box-shadow: 5px 5px 20px rgba(1, 71, 101, 0.2);
    border-radius: 10px;
}
.third-part{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.third-part .third-part-left{
    width: 50%;
}
.third-part .third-part-left img{
    width: 100%;
}
.third-part .third-part-right{
    padding: 50px;
    width: 50%;
}
.third-part .third-part-right h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Fourth Element*/
.fourth-part{
    width: 100%;
    display: flex;
}
.fourth-part .fourth-part-left{
    width: 50%;
}
.fourth-part .fourth-part-right{
    width: 50%;
}
.fourth-part .fourth-part-right img{
    width: 100%;
}
